*.pyc
*.autosave
*.swp
sdl92.tokens
install.record

antlr-3.1.3.tar.bz2
antlr-3.1.3/

test_c

tests/**/*.stg
tests/regression/test-controlflow/controlflow.*
tests/regression/test-debug/orchestrator.*
tests/regression/test-equal/og.*
tests/regression/test-exitnested/challenge.*
tests/regression/test-expressions/expressions.*
tests/regression/test-llvm/orchestrator.*
tests/regression/test-nocif/orchestrator.*
tests/regression/test-operators/operators.*
tests/regression/test-processfpar1/og.*
tests/regression/test-processfpar2/og.*
tests/regression/test-simu/orchestrator.*
tests/regression/test-standalone/og.*
tests/regression/test-strings/og.*
tests/regression/test-substrings/myfunction.*
tests/regression/test-types/function1.*
tests/regression/test1/og.*
tests/regression/test10/challenge.*
tests/regression/test11/og.*
tests/regression/test12/trafficlight.*
tests/regression/test2/orchestrator.*
tests/regression/test3/fce.*
tests/regression/test4/asn1crt.*
tests/regression/test4/orchestrator.*
tests/regression/test5/function0.*
tests/regression/test6/myfunction.*
tests/regression/test7/orchestrator.*
tests/regression/test8/orchestrator.*
tests/regression/test9/challenge.*
tests/regression/test-choice/og.pr.ini
tests/regression/test-choice/og_ada.gpr
tests/regression/test-controlflow/controlflow_ada.gpr
tests/regression/test-sequenceof2/test.pr.ini
tests/regression/test-simu/Makefile.properties
tests/regression/test-simu/liborchestrator_stop_conditions.so
tests/regression/test-simu/orchestrator_simu/
tests/regression/test-simu/orchestrator_stop_conditions_interface.aadl
