*.pyc

*.autosave

tests/**/*.ads
tests/**/*.adb
tests/**/*.ali

tests/**/*.ll
tests/**/*.s

tests/**/*.o

tests/**/*.idx
tests/**/*.wrn
tests/**/*.gpr

tests/**/*.sh
tests/**/*.cfg

tests/**/result
tests/**/testcase

tests/**/python.stg
